/* styles do index/menu */

body {
    text-align: center;
    background-color: #2f2f2f;
}

.navbar {
    background-color: tomato;
}

.nav-link:hover {
    color: tomato;
    font-size: large;
}

.offcanvas {
    background-color: rgba(147, 147, 147, 0.908);;
}

.offcanvas-header {
    background-color: tomato;
}

#princ {
    background-color: rgba(147, 147, 147, 0.908);
    border: 3px solid #ffbb27;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    vertical-align: baseline;
    align-items: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#imagem {
    border: 3px solid #ffbb27;
    border-radius: 10px;
}

h1 {
    background-color: black;
    color: white;
    padding: 30px;
    border-radius:10px;
}

#sinopse {
    background-color: rgba(147, 147, 147, 0.908);
    border: 3px solid #ffbb27;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    align-items: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#link {
    color: #105687;
}

#link:hover {
    color: #7da8c6;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}
